.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.brick-background {
  margin-top: 14px;
  /* height: 150%; */
  background-image: url('./images/black-brick-wall-texture.jpg');
  -webkit-background-size: cover;
  -webkit-text-fill-color: white;
  margin-bottom: 0px;
  position: relative;
  background-image: cover;
}

.concrete-background {
  height: 50px;
  background-image: url('./images/concrete-background.jpg');
  background-size: cover;
  padding: 5px;
  border-radius: 5px;
}

.parent-div {
  height: 850px;
}

.street-seen-logo {
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
}

.all-artwork-dropdown {
  -webkit-text-fill-color: black;
}

.new-art-popup {
  background-color: black;
  -webkit-text-fill-color: white;
}

.existing-art-popup {
  text-align: center;
}

.existing-art-popup-image {
  margin: auto;
}

.dropzone {
  margin: 25px;
}

#detail-page-image {
  margin-bottom: 100px;
}