.pushable {
  background-image: url('./images/red-brick-wall-3614976_1920.jpg');
  height: 100%;
  background-position: center;
  background-size: cover;
}

.sideBar {
  background-image: url('./images/red-brick-wall-3614976_1920.jpg') !important;
  
}
